<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.accountbook.mapper.CategoryMapper">
    <select id="selectByType" resultType="Category">
        SELECT id, name, type FROM t_category WHERE type = #{type}
    </select>

    <select id="selectNameById" resultType="String">
        SELECT name FROM t_category WHERE id = #{id}
    </select>
</mapper>